In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [37]:
df = pd.read_csv('D:/Programming/UNIQUE/Python/weather data.csv')

In [38]:
df.head(10)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
5,1/1/2012 5:00,-1.4,-3.3,87,9,6.4,101.27,Fog
6,1/1/2012 6:00,-1.5,-3.1,89,7,6.4,101.29,Fog
7,1/1/2012 7:00,-1.4,-3.6,85,7,8.0,101.26,Fog
8,1/1/2012 8:00,-1.4,-3.6,85,9,8.0,101.23,Fog
9,1/1/2012 9:00,-1.3,-3.1,88,15,4.0,101.20,Fog

In [39]:
df.shape

(8784, 8)

In [40]:
df.index

RangeIndex(start=0, stop=8784, step=1)

In [41]:
df.columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')

In [42]:
df.dtypes

Date/Time            object
Temp_C              float64
Dew Point Temp_C    float64
Rel Hum_%             int64
Wind Speed_km/h       int64
Visibility_km       float64
Press_kPa           float64
Weather              object
dtype: object

In [43]:
df.Press_kPa.unique()

array([101.24, 101.26, 101.27, 101.23, 101.29, 101.2 , 101.15, 100.98,
       100.79, 100.58, 100.31, 100.07,  99.93,  99.81,  99.74,  99.68,
        99.5 ,  99.39,  99.32,  99.31,  99.26,  99.3 ,  99.21,  99.18,
        99.14,  99.19,  99.27,  99.33,  99.41,  99.66,  99.86, 100.  ,
       100.15, 100.26, 100.27, 100.35, 100.43, 100.53, 100.61, 100.68,
       100.76, 100.85, 100.95, 101.07, 101.33, 101.34, 101.38, 101.44,
       101.51, 101.58, 101.64, 101.74, 101.82, 101.86, 101.87, 101.88,
       101.89, 101.77, 101.75, 101.73, 101.68, 101.54, 101.41, 101.25,
       100.97, 100.89, 100.69, 100.65, 100.54, 100.5 , 100.42, 100.32,
       100.29, 100.28, 100.24, 100.21, 100.19, 100.39, 100.45, 100.41,
       100.38, 100.4 , 100.46, 100.52, 100.6 , 100.71, 100.8 , 100.83,
       100.81, 100.84, 100.7 , 100.51, 100.47, 100.36, 100.23, 100.13,
       100.06, 100.1 , 100.12, 100.16, 100.11, 100.08, 100.05, 100.09,
       100.33, 100.48, 100.62, 100.72, 101.13, 101.21, 101.47, 101.59,
       101.7 , 101.81, 101.92, 101.9 , 101.94, 101.97, 102.04, 102.09,
       102.17, 102.23, 102.26, 102.28, 102.22, 102.13, 102.15, 102.11,
       102.02, 101.93, 101.8 , 101.4 , 101.05, 100.96, 100.9 , 100.77,
       100.64, 100.02, 100.04, 100.91, 101.04, 101.32, 101.43, 101.49,
       101.57, 101.66, 101.72, 101.78, 101.63, 101.56, 101.61, 101.6 ,
       101.19, 101.17, 101.08, 101.02, 100.93, 100.22,  99.97,  99.9 ,
        99.88,  99.83,  99.76,  99.72,  99.64,  99.56,  99.47,  99.4 ,
        99.24,  99.22,  99.13,  99.06,  98.94,  98.84,  98.69,  98.56,
        98.44,  98.22,  98.07,  97.99,  98.1 ,  98.16,  98.23,  98.32,
        98.6 ,  98.89,  99.09,  99.28,  99.51,  99.67,  99.85, 100.01,
       100.73, 101.14, 101.16, 101.18, 101.3 , 101.36, 101.46, 101.62,
       101.65, 101.79, 101.99, 102.12, 102.19, 102.37, 102.45, 102.57,
       102.66, 102.68, 102.67, 102.65, 102.71, 102.79, 102.85, 102.89,
       102.94, 102.98, 103.02, 103.07, 103.09, 103.05, 103.08, 103.01,
       102.96, 102.9 , 102.75, 102.62, 102.44, 101.71, 101.31, 101.12,
       100.94, 100.88, 100.75, 100.59,  99.69,  99.57,  99.38,  98.98,
        98.71,  98.47,  98.31,  98.36,  98.62,  99.  ,  99.36,  99.7 ,
       100.78, 100.92, 101.  , 101.09, 101.45, 101.67, 101.83, 101.85,
       101.84, 101.42, 101.22, 101.03, 100.66, 100.63, 100.87, 101.96,
       101.98, 102.21, 102.27, 102.33, 102.34, 102.36, 102.29, 102.18,
       102.08, 102.06, 102.03, 102.01, 102.16, 102.24, 102.47, 102.52,
       102.54, 102.64, 102.84, 102.91, 103.04, 102.97, 102.86, 102.74,
       102.6 , 102.38, 102.14, 102.1 , 101.76, 101.69, 101.01, 100.86,
       100.25, 100.37, 100.49, 100.82, 101.06, 101.11, 101.37, 101.52,
       102.05, 102.07, 101.95, 101.53, 101.28, 100.99,  99.98,  99.8 ,
        99.61,  99.34,  99.08,  98.91,  98.76,  98.65,  98.74,  98.97,
        99.54,  99.75, 100.03, 100.34, 100.74, 100.14,  99.95,  99.87,
        99.96, 100.67, 101.55, 100.56, 102.31, 102.35, 102.39, 102.4 ,
       102.42, 102.51, 102.59, 102.61, 102.46, 102.25, 102.32, 101.91,
       101.48, 100.57, 101.39, 102.2 , 101.1 , 100.55, 100.3 , 100.44,
       102.  , 101.5 , 100.2 ,  99.77,  99.59,  99.52,  99.29,  99.23,
        99.17,  99.11,  99.16,  99.2 ,  99.42,  99.49,  99.53,  99.6 ,
        99.82,  99.91,  99.07,  98.88,  98.81,  98.55,  98.39,  98.29,
        98.18,  98.06,  98.  ,  97.97,  98.03,  98.11,  98.2 ,  98.33,
        98.45,  98.75,  99.05, 102.41, 102.49, 102.55, 102.63, 102.72,
       102.58, 102.5 , 102.69, 102.53, 102.56, 102.3 ,  99.55,  99.02,
        98.79,  98.7 ,  98.86,  98.82,  98.73,  98.68,  98.67,  98.92,
        98.96,  99.46,  99.63,  99.84,  99.94, 100.18, 102.7 , 103.  ,
       103.06, 103.1 , 103.12, 102.81,  99.99,  99.78, 102.73, 102.95,
       102.99, 101.35, 100.17, 102.48, 102.43,  99.45,  99.48,  99.92,
        99.89,  99.71,  99.12,  99.1 ,  99.43,  99.37,  99.58,  99.15,
        98.9 ,  98.8 ,  98.66,  98.61,  98.54,  98.51,  98.58,  98.64,
        98.5 ,  98.53,  98.63,  98.72,  98.78,  99.01,  99.79,  99.65,
        99.62,  99.73,  99.44,  99.35,  99.25, 103.15, 103.25, 103.29,
       103.31, 103.34, 103.2 , 103.16, 103.17, 103.18, 102.93, 103.13,
       103.24, 103.28, 103.39, 103.47, 103.51, 103.52, 103.5 , 103.43,
       103.46, 103.49, 103.54, 103.56, 103.58, 103.59, 103.63, 103.61,
       103.65, 103.38, 103.36, 103.3 , 103.27, 103.22, 103.11, 103.03,
       102.92, 102.83, 102.78, 102.82, 103.14, 103.26, 103.21, 103.19,
       103.23,  97.93,  97.76,  97.56,  97.52,  97.58,  97.64,  97.75,
        97.79,  97.81,  97.84,  97.89,  97.98,  98.19])

In [44]:
df.nunique()

Date/Time           8784
Temp_C               533
Dew Point Temp_C     489
Rel Hum_%             83
Wind Speed_km/h       34
Visibility_km         24
Press_kPa            518
Weather               50
dtype: int64

In [45]:
df.count()

Date/Time           8784
Temp_C              8784
Dew Point Temp_C    8784
Rel Hum_%           8784
Wind Speed_km/h     8784
Visibility_km       8784
Press_kPa           8784
Weather             8784
dtype: int64

In [46]:
df.Weather.value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Haze                                         16
Thunderstorms,Rain Showers                   16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Freezing Fog                                  4
Rain,Snow,Ice Pellets                         4
Snow Showers,Fog                              4
Freezing Rain,Fog                             4
Moderate Snow                                 4
Rain,Haze                                     3
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Freezing Drizzle,Haze                         3
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Freezing Rain,Haze                            2
Thunderstorms,Moderate Rain Showers,Fog       1
Rain,Snow,Fog                                 1
Rain Showers,Fog                              1
Moderate Rain,Fog                             1
Snow Pellets                                  1
Freezing Rain,Ice Pellets,Fog                 1
Rain,Snow Grains                              1
Rain,Ice Pellets                              1
Freezing Rain,Snow Grains                     1
Thunderstorms,Heavy Rain Showers              1
Thunderstorms,Rain,Fog                        1
Drizzle,Ice Pellets,Fog                       1
Name: Weather, dtype: int64

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   object
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

In [48]:
df['Wind Speed_km/h'].nunique()

34

In [49]:
df['Wind Speed_km/h'].unique()

array([ 4,  7,  6,  9, 15, 13, 20, 22, 19, 24, 30, 35, 39, 32, 33, 26, 44,
       43, 48, 37, 28, 17, 11,  0, 83, 70, 57, 46, 41, 52, 50, 63, 54,  2],
      dtype=int64)

In [53]:
df[df.Weather == 'Clear']

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
67,1/3/2012 19:00,-16.9,-24.8,50,24,25.0,101.74,Clear
114,1/5/2012 18:00,-7.1,-14.4,56,11,25.0,100.71,Clear
115,1/5/2012 19:00,-9.2,-15.4,61,7,25.0,100.80,Clear
116,1/5/2012 20:00,-9.8,-15.7,62,9,25.0,100.83,Clear
117,1/5/2012 21:00,-9.0,-14.8,63,13,25.0,100.83,Clear
...,...,...,...,...,...,...,...,...
8646,12/26/2012 6:00,-13.4,-14.8,89,4,25.0,102.47,Clear
8698,12/28/2012 10:00,-6.1,-8.6,82,19,24.1,101.27,Clear
8713,12/29/2012 1:00,-11.9,-13.6,87,11,25.0,101.31,Clear
8714,12/29/2012 2:00,-11.8,-13.1,90,13,25.0,101.33,Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear

In [56]:
df.groupby('Weather').get_group('Clear')

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
67,1/3/2012 19:00,-16.9,-24.8,50,24,25.0,101.74,Clear
114,1/5/2012 18:00,-7.1,-14.4,56,11,25.0,100.71,Clear
115,1/5/2012 19:00,-9.2,-15.4,61,7,25.0,100.80,Clear
116,1/5/2012 20:00,-9.8,-15.7,62,9,25.0,100.83,Clear
117,1/5/2012 21:00,-9.0,-14.8,63,13,25.0,100.83,Clear
...,...,...,...,...,...,...,...,...
8646,12/26/2012 6:00,-13.4,-14.8,89,4,25.0,102.47,Clear
8698,12/28/2012 10:00,-6.1,-8.6,82,19,24.1,101.27,Clear
8713,12/29/2012 1:00,-11.9,-13.6,87,11,25.0,101.31,Clear
8714,12/29/2012 2:00,-11.8,-13.1,90,13,25.0,101.33,Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear

In [59]:
df[df['Wind Speed_km/h']==4]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
96,1/5/2012 0:00,-8.8,-11.7,79,4,9.7,100.32,Snow
101,1/5/2012 5:00,-7.0,-9.5,82,4,4.0,100.19,Snow
146,1/7/2012 2:00,-8.1,-11.1,79,4,19.3,100.15,Cloudy
...,...,...,...,...,...,...,...,...
8768,12/31/2012 8:00,-8.6,-10.3,87,4,3.2,101.14,Snow Showers
8769,12/31/2012 9:00,-8.1,-9.6,89,4,2.4,101.09,Snow
8770,12/31/2012 10:00,-7.4,-8.9,89,4,6.4,101.05,"Snow,Fog"
8772,12/31/2012 12:00,-5.8,-7.5,88,4,12.9,100.78,Snow
8773,12/31/2012 13:00,-4.6,-6.6,86,4,12.9,100.63,Snow

In [63]:
df.isnull().sum()

Date/Time           0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Weather             0
dtype: int64

In [66]:
df.rename(columns = {'Weather': 'Weather Condition'}, inplace = True)

In [87]:
print('Mean visibility: ', round(df['Visibility_km'].mean(), 2))

Mean visibility:  27.66

In [88]:
df['Press_kPa'].std()

0.8440047459486474

In [90]:
a = df['Rel Hum_%'].var()

In [109]:
df[df['Weather Condition']=='Snow']

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
55,1/3/2012 7:00,-14.0,-19.5,63,19,25.0,100.95,Snow
84,1/4/2012 12:00,-13.7,-21.7,51,11,24.1,101.25,Snow
86,1/4/2012 14:00,-11.3,-19.0,53,7,19.3,100.97,Snow
87,1/4/2012 15:00,-10.2,-16.3,61,11,9.7,100.89,Snow
88,1/4/2012 16:00,-9.4,-15.5,61,13,19.3,100.79,Snow
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [113]:
df[df['Weather Condition'].str.contains('Snow')]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
41,1/2/2012 17:00,-2.1,-9.5,57,22,25.0,99.66,Snow Showers
44,1/2/2012 20:00,-5.6,-13.4,54,24,25.0,100.07,Snow Showers
45,1/2/2012 21:00,-5.8,-12.8,58,26,25.0,100.15,Snow Showers
47,1/2/2012 23:00,-7.4,-14.1,59,17,19.3,100.27,Snow Showers
48,1/3/2012 0:00,-9.0,-16.0,57,28,25.0,100.35,Snow Showers
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [115]:
df[(df['Wind Speed_km/h']>24) & (df['Visibility_km'] == 25)]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
23,1/1/2012 23:00,5.3,2.0,79,30,25.0,99.31,Cloudy
24,1/2/2012 0:00,5.2,1.5,77,35,25.0,99.26,Rain Showers
25,1/2/2012 1:00,4.6,0.0,72,39,25.0,99.26,Cloudy
26,1/2/2012 2:00,3.9,-0.9,71,32,25.0,99.26,Mostly Cloudy
27,1/2/2012 3:00,3.7,-1.5,69,33,25.0,99.30,Mostly Cloudy
...,...,...,...,...,...,...,...,...
8705,12/28/2012 17:00,-8.6,-12.0,76,26,25.0,101.34,Mainly Clear
8753,12/30/2012 17:00,-12.1,-15.8,74,28,25.0,101.26,Mainly Clear
8755,12/30/2012 19:00,-13.4,-16.5,77,26,25.0,101.47,Mainly Clear
8759,12/30/2012 23:00,-12.1,-15.1,78,28,25.0,101.52,Mostly Cloudy
8760,12/31/2012 0:00,-11.1,-14.4,77,26,25.0,101.51,Cloudy

In [117]:
df[(df['Weather Condition']=='Clear') | (df['Visibility_km']>40)]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
67,1/3/2012 19:00,-16.9,-24.8,50,24,25.0,101.74,Clear
106,1/5/2012 10:00,-6.0,-10.0,73,17,48.3,100.45,Mainly Clear
107,1/5/2012 11:00,-5.6,-10.2,70,22,48.3,100.41,Mainly Clear
108,1/5/2012 12:00,-4.7,-9.6,69,20,48.3,100.38,Mainly Clear
109,1/5/2012 13:00,-4.4,-9.7,66,26,48.3,100.40,Mainly Clear
...,...,...,...,...,...,...,...,...
8749,12/30/2012 13:00,-12.4,-16.2,73,37,48.3,100.92,Mostly Cloudy
8750,12/30/2012 14:00,-11.8,-16.1,70,37,48.3,100.96,Mainly Clear
8751,12/30/2012 15:00,-11.3,-15.6,70,32,48.3,101.05,Mainly Clear
8752,12/30/2012 16:00,-11.4,-15.5,72,26,48.3,101.15,Mainly Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear

In [118]:
df[((df['Weather Condition']=='Clear') & (df['Rel Hum_%']>50)) | (df['Visibility_km']>40)]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
106,1/5/2012 10:00,-6.0,-10.0,73,17,48.3,100.45,Mainly Clear
107,1/5/2012 11:00,-5.6,-10.2,70,22,48.3,100.41,Mainly Clear
108,1/5/2012 12:00,-4.7,-9.6,69,20,48.3,100.38,Mainly Clear
109,1/5/2012 13:00,-4.4,-9.7,66,26,48.3,100.40,Mainly Clear
110,1/5/2012 14:00,-5.1,-10.7,65,22,48.3,100.46,Mainly Clear
...,...,...,...,...,...,...,...,...
8749,12/30/2012 13:00,-12.4,-16.2,73,37,48.3,100.92,Mostly Cloudy
8750,12/30/2012 14:00,-11.8,-16.1,70,37,48.3,100.96,Mainly Clear
8751,12/30/2012 15:00,-11.3,-15.6,70,32,48.3,101.05,Mainly Clear
8752,12/30/2012 16:00,-11.4,-15.5,72,26,48.3,101.15,Mainly Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear